@media (max-width: 768px){
    .search-bar{
        width: 250px;
    }
}
@media (max-width: 576px){
    .search-bar{
        width: 200px;
    }
    td, th{
        font-size: 12px;
    }
    .status{
        font-size: 10px;
    }
}